body {
    background: #EFEAE6;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    background: linear-gradient(0deg, rgba(255, 236, 226, 0.2), rgba(255, 236, 226, 0.2)), #85B7BC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left{
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 74px;
    height: 60px;

    mix-blend-mode: darken;
}

.header__title {
    font-family: 'Gravitas One', serif;
    font-weight: 400;
    font-size: 25px;

    color: #735840;
}

.header-nav {
    font-family: 'Abhaya Libre', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #73584B;
}

.nav__home {
    width: 87px;
    height: 31px;
}

.nav__menu {
    width: 83px;
    height: 31px;
}

.nav__about {
    width: 142px;
    height: 31px;
}

a {
    color: #73584B;
    text-decoration: none;
}

.main-part {
    display: flex;
    flex-direction: row;
    height: 390px;
    margin: 15px;
    flex-wrap: nowrap;

    background: rgba(181, 165, 146, 0.62);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

p {
    color: #73584B;
    font-family: 'Abhaya Libre', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    margin-left: 15px;
}

.main__picture {
    display: flex;
    width: 350px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    flex-wrap: nowrap;
    /*margin-bottom: 15px;*/
}

.container-modules {
    display: flex;
    width: 490px;
    height: 330px;

    background: #85B7BC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-module__item {
    display: flex;
    flex-direction: row;
    width: 320px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

    background: linear-gradient(0deg, rgba(255, 236, 226, 0.2), rgba(255, 236, 226, 0.2)), #85B7BC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul {
    color: #73584B;
    font-family: 'Abhaya Libre', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    display: flex;
    align-items: center;
    font-family: 'Gravitas One', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;


    color: #73584B;
}

.picture {
    width: 250px;
    height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px){
    .main__picture{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .main-part{
        display: none;
    }
}

table{
    /*min-width: 100vw;*/
    font-family: 'Gravitas One', serif;
    /*width: auto;*/
    /*flex: 1;*/
    display: grid;
    /*border-collapse: collapse;*/
    grid-template-columns:
    minmax(100px, 1fr)
    minmax(100px, 1.67fr);
    margin: 15px;
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    /*top: 0;*/
    background: #B5A592;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: #73584B;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #73584B;
}

tr:nth-child(even) td {
    background: #B5A592;
}
